<nav class="py-12 lg:py-24 max-w-5xl mx-auto">
    <div class="flex justify-center mb-6">
        {{ settings:social }}
            <a href="{{ url }}" class="ml-4" aria-label="{{ name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 hover:text-teal" }}
            </a>
        {{ /settings:social }}
    </div>
    <div class="text-sm text-center">
        &copy; {{ now format="Y" }} {{ settings:site_name }}
        <br>
        －
        <br>
        Powered by
        <a href="https://statamic.com?ref=joshuablum.net" class="hover:text-teal">Statamic</a>,
        <a href="https://tailwindcss.com" class="hover:text-teal">Tailwind CSS</a> and
        <a href="https://joshuablum.net/about#uses" class="hover:text-teal">other</a> open source stuff.
    </div>
</nav>
